.contact{
    &__form-container{
        @include flex-container;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        @media(max-width: 768px){
            flex-direction: column;
        }
    }

    &__form-wrapper{
        background-color: $secondary-white;
        width: 40%;
        height: 100%;
        @include flex-container;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;

        @media (max-width: 1199px){
            height: auto;
        }
    
        @media(max-width: 768px){
            width: 80%;
        }
    }

    &__pic{
        border-radius: $border-radius;
        height: 100%;
    
        @media (max-width: 1199px){
            width:32rem;
            height: auto;
        }
    
        @media (max-width: 767px){
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    &__row{
        height: 68rem;
    
        @media(max-width: 1199px){
            height: auto;
        }
    }

    &__wrapper{
        height: 100%;
    
        @media(max-width: 767px){
            width: 80%;
        }
    }
}

.wpcf7-form {
    object-fit: cover;

    & h3{
        @media (max-width: 1199px){
            margin-bottom: 0;
        }
    }

    & input[type="submit"]{
        border-radius: $btn__round-border-radius;
        border: 2px solid $button-black;
        background: transparent;
        padding: 1rem 4rem;
        cursor: pointer;
        width: auto;
        
        &:hover{
            background: $button-black;
            color: $primary-white;
            transition: .2s all ease-in-out;
        }

        @media (max-width: 1199px){
            margin-bottom: 0;
        }
    }

    &-control{
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $primary-black;
        margin-bottom: $spacing-unit * 6;
        width: 100%;
        box-sizing: border-box;

        @media (max-width: 1199px){
            margin-bottom: 0;
            font-size: 1.4rem; 
        }
    } 
}

#wpcf7-f112-o1{
    @media (max-width: 1199px){
        padding: 0 2rem;
    }
}

.wpcf7-form-control.wpcf7-textarea {
    @media(max-width: 1199px){
        height: 12rem; /* Adjust as needed */
    }
}