.comment-list{
    padding: 0;

    @media(max-width: 575px){
        padding-bottom: 3.2rem;
    }
}

.comment{
    background-color: #d9d9d9;
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;

    &:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50px;
    border-width: 20px 20px 0;
    border-style: solid;
    border-color: #d9d9d9 transparent;
    display: block;
    width: 0;
    }
}

.children{
    margin-top: 6rem;
}

.my-custom-comment-header{
    display:flex;
    flex-direction: row;
}

.comment-author-avatar{
    margin-right: 2rem;

    & > img{
        height: 100%;
        border-radius: 50%;
    }
}

.comment__info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    & > h3 {
        margin: 0;
        font-size: 2.4rem;
    }
}

.comment-reply-link {
    display: inline-block;
    background-color: $secondary-black; /* Change to your desired color */
    color: $primary-white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.comments-title{
    font-size: 2.8rem;
}

.comment__section-container{
    border-top: 1px solid $primary-black;
}

#commentform input[type="submit"]{     
    background-color: #0A0A0A;
    padding: 1rem 2rem;
    font-family: "montserrat";
    border-radius: 3px;
    color: #f5f5f5 !important;
    text-decoration: none;

    @media(max-width: 461px){
        font-size: 1.4rem;
    }

    @media(max-width: 325px){
        font-size: 1.2rem;
    }
}
#commentform input[type="submit"]:hover{
    background: yellow;
    transition: .5s all;
}
#commentform label{
    display: block;
}
#commentform label[for="wp-comment-cookies-consent"]{
    display: inline;
    margin-left: 5px;
}
#commentform input[type="text"],
#commentform textarea{
    // padding: 7px 10px;
    border: 1px solid #C6C6C6;
    width: 100%;

    @media (max-width: 767px){
        width: 80%;
    }

    // @media (max-width: 461px){
    //     width: 80%;
    // }
}
#reply-title{
    margin-top: 0;
    text-transform: uppercase;
    font-size: 3.6rem;
}