.footer-column{
    margin-right: $spacing-unit * 5;
}

.site-footer .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 768px){
        justify-self: flex-start;
    }
}

.footer-menu-label{
    font-weight: $fontweight-semibold;
    margin-bottom: $spacing-xl;
}
.footer-menu-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & > ul{
        list-style: none;
        padding: 0;
    }

    & > ul > li{
        margin-bottom: $spacing-xl;
        font-weight: $fontweight-x-light;
    }

    & > ul > li > a{
        font-size: 2rem;
        text-decoration: none;
        color: $primary-black;

        @media(max-width: 575px){
            font-size: 1.6rem;
        }
    }

    & > h4{
        @media (max-width: 1200px){
            font-size: 1.8rem;
        }
    }

    @media (max-width: 575px) {
        .site-footer .container{
            flex-wrap: wrap;
        }
    }
}

footer{ 
    padding: ($spacing-unit * 12.5) 0; 
    color: $primary-black; 
    border-top:1px solid $primary-black;

    & .container .row{
        align-items: center;
    }

    @media (max-width: 767px){
        padding: 0;
        padding-top: 9px;
    }
}

.site-footer .copyright p{
    margin: 0;
}

.footer-menu{
    & ul{ 
        list-style: none; 
        padding: 0; 
        margin: 0; 
    }

    & ul li{ 
        display: inline;  
        margin: 0 1.5rem 0 0;
        margin-top: 1.6rem;
    }

    & ul li:last-child{ 
        margin: 0; 
    }
    
    & ul li a{  
        text-decoration: none;
        color: $primary-black;
        font-weight: $fontweight-regular;
    }
}

.wp-block-heading{
    margin-bottom: 0;
}

#menu-footer-menu{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;

    &>li{
        color: $primary-black;
    }
}

#footer-logo{
    margin-top: 2.926rem;
    width: 15rem;

    @media (max-width: 1200px){
        width: 10rem;
    }
}