/* Hero */
.hero{
    background-size: cover;
    background-position: center center;
    color: #FFFFFF;
    text-align: center;
}
.hero-items{
    padding: 4.4rem;
}
.hero .overlay{
    // background: rgb(0 0 0 / 27%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .hero-items h1{
    margin-top: 0;
    font-weight: normal;
}
.hero .hero-items a{
    color: #FFFFFF;
    padding: 15px 25px;
    display: inline-block;
    background: blue;
    margin: 20px 0 0;
}
.hero .hero-items a:hover{
    background: yellow;
    transition: .5s all;
}

.hero-summary{
    width: 71%;

    @media (max-width: 1200px){
        font-size: 1.6rem;
        margin-bottom: $spacing-unit * 4;
    }

    @media (max-width: 767px){
        margin-bottom: $spacing-unit * 3;
    }

    @media (max-width: 575px){
        font-size: 1.6rem;
    }
}

.hero-title{
    margin-top: 0;
    display: inline-block;
    
    @media (max-width: 1200px){
        font-size: 4.4rem;
        margin-bottom: $spacing-unit * 3;
    }

    @media (max-width: 767px){
        margin-top: 2.8rem;
        margin-bottom: $spacing-unit * 2;
    }

    @media (max-width: 575px){
        margin-top: $spacing-unit * 3.5;
        margin-bottom: $spacing-unit * 3;
        font-size:2.2rem;
    }

    @media (max-width: 435px){
        line-height: normal;
    }
}

.hero__text-link{
    display: inline-block;
    max-width:71%;
}

.image-container{
    height: 100%;

    & > a{
        height: 100%;
    }
    
    & > a > img {
        height: 100%;

        @media (max-width: 767px){
            height: auto;
            width: 43.5rem;
        }

        @media (max-width: 767px){
            width: 32.5rem;
        }
    }
}

// Hero Section
.hero-post{
    display: flex;
    height: 66rem;

    @media (max-width: 1200px){
        height: 40rem;
    }

    @media (max-width: 767px){
        height: auto;
        flex-direction: column-reverse;
    }
}

.hero__text_content{
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > * {
        margin-top:0;
    }

    @media (max-width: 767px){
        align-items: center;
        text-align: center;
    }
}

.hero__post-image_wrapper{
    width: 100%;

    @media (max-width: 767px){
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.hero__post-image{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > img{
        width: 76%;
        height: auto;
    }
}

.hero__text-link{
    text-decoration: none;
    color: $primary-black;
}