.hero{
    &__summary{
        width: 71%;
    
        @media (max-width: 1200px){
            font-size: 1.6rem;
            margin-bottom: $spacing-unit * 4;
        }
    
        @media (max-width: 767px){
            margin-bottom: $spacing-unit * 3;
        }
    
        @media (max-width: 575px){
            font-size: 1.6rem;
        }
    }

    &__text-link{
        display: inline-block;
        max-width:71%;
        text-decoration: none;
        color: $primary-black;
    }

    &__title{
        margin-top: 0;
        display: inline-block;
        
        @media (max-width: 1200px){
            font-size: 4.4rem;
            margin-bottom: $spacing-unit * 3;
        }
    
        @media (max-width: 767px){
            margin-top: 2.8rem;
            margin-bottom: $spacing-unit * 2;
        }
    
        @media (max-width: 575px){
            margin-top: $spacing-unit * 3.5;
            margin-bottom: $spacing-unit * 3;
            font-size:2.2rem;
        }
    
        @media (max-width: 435px){
            line-height: normal;
        }
    }
}

.hero__post{
    display: flex;
    height: 66rem;

    &-image{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
        & > img{
            width: 76%;
            height: auto;
        }
    }

    &-image_container{
        height: 100%;
    
        & > a{
            height: 100%;
        }
        
        & > a > img {
            height: 100%;
    
            @media (max-width: 767px){
                width: 32.5rem;
            }
        }
    }

    &-image_wrapper{
        width: 100%;
    
        @media (max-width: 767px){
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &-text_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        & > * {
            margin-top:0;
        }
    
        @media (max-width: 767px){
            align-items: center;
            text-align: center;
        }
    }

    @media (max-width: 1200px){
        height: 40rem;
    }

    @media (max-width: 767px){
        height: auto;
        flex-direction: column-reverse;
    }
}