.nav-links{
    margin-top: 40px;

    & .page-numbers{
        padding: 10px 15px;
        display: inline-block;
        background: $accent-color;
    }

    & .current{
        background-color: $button-black;
        color: $primary-white;
    }

    & .next,
    & .prev{
        background-color: transparent;
    }

    & .prev{
        padding-left: 0;
    }
}