.sidebar{
    width: 23%;
    margin-left: 11rem;

    @media(max-width: 1200px){
        width: 29%;
        margin-left: 3rem;
    }

    @media(max-width: 767px){
        width: 100%;
        margin: 2rem 0 0 0!important;
    }
}

.social_media_icons{
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

    & > li {
        padding: 0 4px;

        @media(max-width: 575px){
            font-size: 2.6rem;
        }
    }

    & > li > a:visited {
        color: $primary-black;
    }
}

#featured_post_thumbnails-sidebar{
    padding: 0 2rem 2rem 2rem;
    background-color: $accent-color;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 3px 3px;

    & > img:not(:last-child){
        margin-bottom: 2.4rem;
    }

    @media(max-width: 1200px){
        padding: 0 1rem 2rem 1rem;
    }

    @media(max-width: 767px){
        padding: 0 2rem 2rem 2rem;
    }
}

.featured-thumbnail{
    width:100%;

    & > img{
        width: 100%;
}
}

.thumbnail-container {
    position: relative;
    img {
        width: 100%;
        height: auto;
    }
    .thumb__overlay {
        position: absolute;
        bottom: 6%; // position the overlay at the bottom of the thumbnail
        left: 0;
        width: 100%;
        height: 21%; // set the height to 30% of the thumbnail
        background: rgba(245, 245, 245, 0.916); // adjust the color and opacity as needed
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1; // make the overlay always visible
        h3 {
            color: $primary-black; // adjust the color as needed
            font-size: 1.2rem;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.6rem;

            @media(max-width: 767px){
                font-size: 1.6rem;
            }
        }

        @media(max-width: 767px){
            height: auto;
        }
    }
}

.sidebar{
    @media(max-width: 575px){
        margin-bottom: 3.2rem!important;
    }
}

.blog-sidebar-section {
    width: 100%;

    & > h3{
        border-radius: 3px 3px 0px 0px;
        background: $primary-black;
        color: $primary-white;
    }
}

#select__categories-sidebar, #archive-sidebar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: $accent-color;
    width: 100%;
    margin-left: 0;
    padding: 2rem; 
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    
    & > select {
        width: 100%;
        background: transparent;
        border: 1px solid $primary-white;
        border-radius: 3px;
        color: $primary-white;
        padding: 5px;
        box-sizing: border-box;
    }

}

.author-bio{
    background-color: $accent-color;
    padding: 2rem;
    border-radius: 0 0 3px 3px;
}