// Typography

$fontweight-bold: 800;
$fontweight-semibold: 600;
$fontweight-regular: 400;

// Colors

$primary-black: #252525;
$secondary-black: #333333;
$button-black: #0A0A0A;

$primary-white: #ffffff;
$secondary-white: #f5f5f5;

$accent-color: #888888;

$confirmation-color: #5cb85c;