// Typography

$fontfamily-headings: 'montserrat';

$fontweight-bold: 800;
$fontweight-semibold: 600;
$fontweight-regular: 400;
$fontweight-light: 200;
$fontweight-x-light: 100;

// Colors

$primary-black: #252525;
$secondary-black: #333333;
$button-black: #0A0A0A;

$primary-white: #ffffff;
$secondary-white: #f5f5f5;

$accent-color: #595959;
$accent-color-2: #888888;

$comment-color: #d9d9d9;

$confirmation-color: #5cb85c;

// Spacing

// Basic Spacing Variables
$spacing-unit: 4px;
$spacing-small: $spacing-unit;
$spacing-medium: $spacing-unit * 2;
$spacing-large: $spacing-unit * 3;
$spacing-xl: $spacing-unit * 4;

// Layout Spacing
$section-inner-spacing: $spacing-unit * 10;
$section-spacing: $spacing-unit * 21;

// Responsive Spacing
$mobile-spacing: $spacing-small;
$tablet-spacing: $spacing-medium;
$desktop-spacing: $spacing-large;

//Misc
$pill-padding: 3px 1rem;

// Styles
$border-radius: 3px;
$btn__round-border-radius: 25px;
