.blog{

    &__article-categories{
        display: flex;
        flex-direction: row;
        align-items: center;
        
        a {
        padding: $pill-padding;
        background-color: $primary-black;
        border-radius: 1.5rem;
        text-decoration: none;
        color: $primary-white!important;
        font-size: 1.2rem;
        margin: 0 1px;
        }
    }

    &__article-tags{
        display: flex;
        flex-direction: row;
        align-items: center;
    
        a {
        padding: $pill-padding;
        background-color: $accent-color;
        border-radius: 1.5rem;
        text-decoration: none;
        color: $primary-white!important;
        font-size: 1.2rem;
        margin: 0 1px;
        }
    }

    &__articles{
        @media(max-width: 575px){
            padding: ($spacing-unit * 9) 0;
        }
    }

    &__container{
        display: flex;
        flex-direction: column;
    }

    &__link{
        text-decoration: none;
        font-weight: 400;
        font-size: 2rem;
        text-transform: capitalize;
        color: #6d6d6d;
    
        @media (max-width: 1200px){
            font-size: 1.8rem;
        }
    }

    &__wrapper{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    
        @media (max-width: 767px){
            flex-direction: column;
        } 
    }

    &__items-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4.8rem; 
        width: 100%;

        @media(max-width: 767px){
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 538px){
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__input_container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width:100%;
        padding-bottom: $spacing-unit * 10;

        @media (max-width: 575px){
            padding-bottom: $spacing-unit * 5;
            flex-direction: column;
            align-items: center;
            height: 8rem;
    }
    }
}

#blog__categories, #blog__archive{
    justify-content: flex-start;
    @include blog-filter;

    & > select {
        width: 84%;

        @media (max-width: 767px){
            width: 100%;
        }
    }

    @media (max-width: 767px){
        width: 47%;
    }

    @media (max-width: 575px){
        width: 100%;
    }
}

#blog__archive{
    justify-content: flex-end;
}

.author-gravatar{
    display: flex;
    width: 100%;

    & > img{
        width: 100%;
    }
}

.meta-info{
    & > p {
        font-size: 1.6rem;
    }

    & > .blog__article-date{
        margin-bottom: 2px;
    }

    & > .blog__article-categories{
        margin-bottom: $spacing-small;
    }
}

section.latest__articles{
    padding: 0;
}

.latest__articles-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom:3.6rem;

    @media(max-width: 1200px){
        margin-bottom: 3.2rem;
    }

    @media(max-width: 767px){
        margin-bottom: $spacing-unit * 6;
    }

    @media(max-width: 511px){
        margin-bottom: 2rem;
    }
}

#breadcrumbs{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    font-family: $fontfamily-headings;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.4rem;

    @media(max-width: 575px){
        margin-top: $spacing-small;
    }

    & > li > a{
        color: $primary-black;
        text-decoration: none;
    }
}

header .meta-info{
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $accent-color;
    width: 100%;
}

/************** INNER PAGES *****************/

/* Blog, Archive, Search */
.blog main .container,
.archive main .container{
    display: flex;
}
.blog .blog-items,
.archive .archive-items{
    padding: 0 15px 0 0;
    flex: 1;
}
.blog .blog-items h2,
.archive .blog-items h2{
    margin-top: 0;
}

// .blog aside,
// .archive aside{
//     padding: 25px;
//     background: $accent-color;
//     height: 100%;
//     width: 30%;
// }

@media screen and (max-width: 991px ) {
    .blog aside,
    .archive aside,
    .blog .blog-items,
    .archive .archive-items{
        min-width: 100%;
    }
}

.archive-description{
    text-align: center;
    max-width: 50%;
    margin: 0 auto 30px auto;
}
.archive-description p{
    font-size: 85%;
}

.meta-info p{
    margin: 0;
}
.wp-post-image{ 
    float: left; 
}
@media screen and (max-width: 550px ) {
    .wp-post-image{ 
        width: 100%; 
    }
}

.post, .blog_recipes{ 
    display: inline-block;  
    width: 66.6667%; 

    @media (max-width: 767px){
        width: 100%;
    }
}

article.post h2{
    line-height: 3rem;
    text-transform: none;
}
article h2{
    line-height: 3rem;
    margin-bottom: 10px;
    text-transform: none;
}
article.post h3,
article.post h4,
article.post h5{
    margin-bottom: 0;
}
.searchform input[type="text"]{
    padding: 7px 0px;
    // border: 1px solid #C6C6C6;
}
.searchform input[type="submit"]{
    padding: 11px 10px;
    background: #000000;
    color: #FFFFFF;
    border: none;
}
.searchform div{
    display: flex;
}

.searchform input[type=submit]{
    max-width: 70%;
}
@media (max-width: 991px) {
    .blog .container,
    .archive .container{
        flex-wrap: wrap;
    }
}