.latest__recipes{
    padding-bottom: ($spacing-unit * 20);

    @media (max-width: 1200px){
        padding-bottom: ($spacing-unit * 15);
    }

    @media (max-width: 767px){
        padding-bottom: ($spacing-unit * 8);
    }

    &-thumbnail{
        width: 100%;
        
        @media(max-width: 500px){
            width: 100%;
        }
    }

    &-thumbnail_container{
        position: relative;
        max-width: 23%;
        transition:all .2s ease-in;
    
        &:hover{
            transform: translateY(-5px);
        }
    
        @media(max-width: 1200px){
            max-width: 45%;
    
            &:nth-child(1), &:nth-child(2){
                margin-bottom: 3.2rem;
                width: 100%;
            }
        }
    
        @media(max-width: 767px){
            &:nth-child(1), &:nth-child(2){
                margin-bottom: $spacing-unit * 5;
            }
        }
    
        @media(max-width: 500px){
            max-width: 100%;
            width: 100%;
    
            &:nth-child(1), &:nth-child(2), &:nth-child(3){
                margin-bottom: $spacing-unit * 5;
            }
        }
    }

    &-thumbnail_headings{
        padding-left: .8rem;
        margin: 0 1.6rem;
        position: relative;
        &>h4{
            text-transform: uppercase;
            color: $primary-black;
    
            @media (max-width: 1200px){
                font-size: 1.8rem;
            }
        }
        &>h5{
            color: $secondary-black;
    
            @media (max-width: 1200px){
                font-size: 1.2rem;
            }
        }
        &> *{
            margin: 0;
            text-align:left;
        }
    
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 3px;
            height: 100%;
            bottom: 0;
            background-color: $accent-color-2;
            left: 0;
        }
    }

    &-thumbnail_overlay{
        position: absolute;
        bottom: 6%;
        left: 0;
        width: auto;
        height: 21%;
        background: rgba(245, 245, 245, 0.916);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 1;
    }
}