.recipe__card{
    width: 100%;
    height: auto;
    background-color: $primary-black;
    margin-top: 15rem;
    margin-bottom: 6rem;
    position: relative;
    @include flex-center;
    flex-direction: column;

    &-attributes{
      @include flex-center;
      flex-direction: row;
      flex-wrap: wrap;
      color: $primary-white;
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: $spacing-xl;
    }

    &-ingredient_divider{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top: 1px solid $primary-black;
      border-bottom: 1px solid $primary-black;
      margin: 2rem 0;
      padding: 0;
  
      @media(max-width: 420px){
        flex-direction: column;
        padding: $spacing-xl 0;
      }
    }

    &-ingredients{
      margin: 0;
      padding-left: 3.5rem;
      font-weight: 300;
    }

    &-ingredient_divider h3{
      text-transform: uppercase;
  
      @media(max-width: 420px){
        margin: 0;
      }
    }
  
    &-ingredients_heading{
      @media(max-width: 420px){
        margin-bottom: $spacing-medium!important;
      }
    }
    
    &-intro{
      margin-top: $spacing-xl;
      font-style: italic;
      font-weight: 300;
    }

    &-body{
      background-color: $secondary-white;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding: 2.4rem;
      height: auto;
      display: flex;
      flex-direction: column;
    }

    &-ingredient_multiplier{
      padding: 6px;
      background-color: #999;
      color: $primary-black;
      margin-left: $spacing-small;
      border: none;
      font-size: 2rem;
    }

    &-ingredient_multiplier:hover, &-ingredient_multiplier.clicked {
      cursor: pointer;
      background-color: $primary-black;
      color: $primary-white;
  }
    
    &-ingredients_multipliers{
      display: flex;
      flex-direction: row;
      max-width: 40%;
      justify-content: space-evenly;
      align-items: center;
    }

    &-sm_icon > button {
      border:none;
      padding: 0;
      cursor: pointer;
      background-color: transparent;
    }
    
    &-steps{
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      counter-reset: item; 
      list-style-type: none; 
      margin: 0;
      padding: 0;
    }
    
    &-steps li{
      counter-increment: item;
      font-weight: 300;
      margin-bottom: $spacing-xl;
    }
    
    &-steps li:last-child{
      margin-bottom: 0;
    }

    &-steps li:before{
      content: counter(item);
        margin-right: 1rem; 
        font-weight: bold; 
        color: $primary-black; 
        background-color: $comment-color;
        border-radius: 50%;
        padding: 5px; 
        display: inline-block; 
        width: $spacing-unit * 7; 
        text-align: center;
        font-family: $fontfamily-headings;
    }

    &-ratings{
      color: $primary-white;
    }
    
    &-stars{
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding: 0;
      margin-top: 0;
    }

    &-stars li i{
      width: 3rem;
    }
    
    &-attributes li{
      margin-right: $spacing-unit * 3;
    }
    
    &-header{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      height: 34rem;
      padding: 2.4rem;
    }
    
    &-subheading{
      padding: 2rem 0;
      background-color: $secondary-black;
      color: $primary-white;
      font-family: $fontfamily-headings;
      width: 100%;
    }

    &-pic{
      width: 25rem;
      height: 25rem;
      position: absolute;
      top: -13rem;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
  
      @media(max-width: 365px){
        width: 20rem;
        height: 20rem;
        top: -10rem;
      }
    }
    
    &-name{
      color: $primary-white;
      text-transform: uppercase;
      font-weight: $fontweight-regular;
      font-size: 5rem;
      line-height: 5rem;
      margin: 0 0 $spacing-xl 0;
    }
    
    &-pill{
      padding: $spacing-small 19px;
      border-radius: $btn__round-border-radius;
      font-weight: $fontweight-semibold;
      background-color: $comment-color;
      margin-right: $spacing-medium;
      border: none;
      font-size: 2rem;
    }
    
    &-sm_icon{
      @include flex-center;
      margin-right: $spacing-medium;
    }
    
    &-row{
      @include flex-center;
      flex-direction: row;
      width: 100%;
    }
}

  .sm{
    font-size: 2.6rem;
  }
  
  .star{
    font-size: 3rem;

    &-wrapper{
      display:flex;
      flex-direction: row;
  
      & > img{
        width: 3rem;
        margin-right: 0.5rem;
      }
    }
  }

  .post-ratings{
    @include flex-center;
    flex-direction: column-reverse;
    
    & > em{
      margin-top: $spacing-medium;
      color: $secondary-white;
      font-family: $fontfamily-headings;
    }
  }

  #printBtn{
    cursor: pointer;
  }

  @media print {
    /* Hide all elements */
    .non-print-content {
        display: none; /* Add this line */
    }

    /* Show the recipe card and its necessary children */
    .recipe-card, .recipe-card * {
        visibility: visible;
        display: block; /* Add this line */
    }

    /* Position the recipe card at the top of the page */
    .recipe-card {
        position: absolute;
        left: 0;
        top: 0;
    }
}