.useful__notes-box{
  height: auto;
  border: 3px solid $primary-black;
  position: relative;
  margin-top: 6rem;
  padding: 2rem 4rem;
}

.useful__notes-heading_box{
  font-family: $fontfamily-headings;
  background-color: $comment-color;
  height: 3rem;
  padding: 1rem;
  @include flex-center;
  text-transform: uppercase;
  position: absolute;
  top: -2.7rem;
  left: 1rem;
}

.useful__notes-notes ul{
  padding: 0;
}

.useful__notes-notes li{
  margin-bottom: $spacing-medium;
  padding: 0;
}